@CHARSET "UTF-8";

body
{
	background-color:#e1ebf4;
}

table
{
	background-color:white;
}

.guide
{
	width:100%;
	line-height: 30px;
}

.header
{
	background-color: blue;
	color:white;
	height: 50px;	
}

td.altbg1,td.altbg2
{
	text-align: center;
}

.procost
{
	padding-left: 20px;
}